<!DOCTYPE html>
<html lang="zh-CN">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agreement Analysis</title>

    <link href="../../static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>

    <script src="../../static/bootstrap-3.3.5/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="../../static/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
<br>
<br><!--Common protocol and packet length map-->
<div class="container" style="height: 400px; width: 90%">
    <div id="pcap_len" style="height:400px; width:25%; float:left;"></div>
    <div id="proto" style="height:400px; width:50%; float:left;"></div>
    <div id="pcap_count" style="height:400px; width:25%; float:left;"></div>
</div>
<br><!--http protocol statistics-->
<div class="container" id="http" style="height: 400px; width: 90%"></div>
<br><!--DNS protocol statistics-->
<div class="container" id="dns" style="height: 400px; width: 90%"></div>
{% autoescape false %}
    <!-- ECharts single document introduction -->
    <script src="../../static/echarts-2.27/build/dist/echarts.js" type="text/javascript"></script>
    <!--Protocol Statistics Bar Chart-->
    <script type="text/javascript">
        // Path configuration
        require.config({
            paths: {
                echarts: '../../static/echarts-2.27/build/dist/'
            }
        });

        // use
        require(
            [
                'echarts',
                'echarts/chart/bar' // Use the bar chart to load the bar module，Load on demand
            ],
            function (ec) {
                // Based on the prepared dom，Initialize echarts chart
                var myChart = ec.init(document.getElementById('proto'));

                var option = {
                    title : {
                        text: 'Common protocol statistics',
                        x:'center'
                    },
                    tooltip: {
                        show: true
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            name : 'agreement type',
                            boundaryGap : true,
                            data : ["IP","IPv6","TCP","UDP","ARP","ICMP","DNS","HTTP","HTTPS","Others"]
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            name : 'The number of packets'
                        }
                    ],
                    series : [
                        {
                            "name":"Quantity",
                            "type":"bar",
                            itemStyle:{
                                normal:{
                                    label:{show:true},
                                    color:'#87cefa' //Legend color set
                                    },
                                emphasis:{label:{show:true}}
                                    },
                            "data":{{ data }}
                        }
                    ]
                };

                // Load data for echarts object
                myChart.setOption(option);
            }
        );
    </script>
<!--Packet length pie chart-->
<script type="text/javascript">
        // Path configuration
        require.config({
            paths: {
                echarts: '../../static/echarts-2.27/build/dist/'
            }
        });

        // use
        require(
            [
                'echarts',
                'echarts/chart/pie' // Use the bar chart to load the bar module，Load on demand
            ],
            function (ec) {
                // Based on the prepared dom，Initialize echarts chart
                var myChart = ec.init(document.getElementById('pcap_len'));

                var option = {
                    title : {
                        text: 'Packet length statistics',
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:['0-300','301-600','601-900','901-1200','1201-1500']
                    },
                    calculable : false,
                    series : [
                        {
                            name:'Packet length',
                            type:'pie',
                            radius : '60%',
                            center: ['50%', '55%'],
                            data:[
                                {value:{{ pcap_len['0-300'] }}, name:'0-300'},
                                {value:{{ pcap_len['301-600'] }}, name:'301-600'},
                                {value:{{ pcap_len['601-900'] }}, name:'601-900'},
                                {value:{{ pcap_len['901-1200'] }}, name:'901-1200'},
                                {value:{{ pcap_len['1201-1500'] }}, name:'1201-1500'}
                            ]
                        }
                    ]
                };

                // Load data for echarts object
                myChart.setOption(option);
            }
        );
    </script>

<!--The largest number of protocol statistics pie chart-->
<script type="text/javascript">
        // Path configuration
        require.config({
            paths: {
                echarts: '../../static/echarts-2.27/build/dist/'
            }
        });

        // use
        require(
            [
                'echarts',
                'echarts/chart/pie' // Use the bar chart to load the bar module，Load on demand
            ],
            function (ec) {
                // Based on the prepared dom，Initialize echarts chart
                var myChart = ec.init(document.getElementById('pcap_count'));

                var option = {
                    title : {
                        text: 'The largest number of agreement statistics',
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:{{ pcap_keys }}
                    },
                    calculable : false,
                    series : [
                        {
                            name:'The number of agreements',
                            type:'pie',
                            radius : '60%',
                            center: ['50%', '55%'],
                            data:[
                                {% for ptoto, count in pcap_count.items() %}
                                    {value:{{ count }}, name:'{{ ptoto }}' },
                                {% endfor %}
                            ]
                        }
                    ]
                };

                // Load data for echarts object
                myChart.setOption(option);
            }
        );
    </script>

<!--HTTP protocol bar chart-->
<script type="text/javascript">
        // Path configuration
        require.config({
            paths: {
                echarts: '../../static/echarts-2.27/build/dist/'
            }
        });

        // use
        require(
            [
                'echarts',
                'echarts/chart/bar' // Use the bar chart to load the bar module，Load on demand
            ],
            function (ec) {
                // Based on the prepared dom，Initialize echarts chart
                var myChart = ec.init(document.getElementById('http'));

                var option = {
                    title : {
                        text: 'HTTP/HTTPS access statistics',
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'value',
                            name : 'The number of packets'
                        }
                    ],
                    yAxis : [
                        {
                            type : 'category',
                            name : 'Visit IP',
                            data : {{ http_key }}
                        }
                    ],
                     grid: { // Control chart size，Adjust the following values ​​can be
                          x: 100,
                     },
                    series : [
                        {
                            name:'The number of packets',
                            type:'bar',
                            itemStyle:{
                                normal:{
                                    label:{show:true},
                                    color:'#6495ed' //Legend color set
                                    },
                                emphasis:{label:{show:true}}
                                    },
                            data:{{ http_value }}
                        }
                    ]
                };

                // Load data for echarts object
                myChart.setOption(option);
            }
        );
    </script>

<!--DNS protocol bar chart-->
<script type="text/javascript">
        // Path configuration
        require.config({
            paths: {
                echarts: '../../static/echarts-2.27/build/dist/'
            }
        });

        // use
        require(
            [
                'echarts',
                'echarts/chart/bar' // Use the bar chart to load the bar module，Load on demand
            ],
            function (ec) {
                // Based on the prepared dom，Initialize echarts chart
                var myChart = ec.init(document.getElementById('dns'));

                var option = {
                    title : {
                        text: 'DNS access statistics',
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'value',
                            name : 'The number of packets'
                        }
                    ],
                    yAxis : [
                        {
                            type : 'category',
                            name : 'Request URL',
                            data : {{ dns_key }}
                        }
                    ],
                     grid: { // Control chart size，Adjust the following values ​​can be
                          x: 150,
                     },
                    series : [
                        {
                            name:'The number of packets',
                            type:'bar',
                            itemStyle:{
                                normal:{
                                    label:{show:true},
                                    color:'#6495ed' //Legend color set
                                    },
                                emphasis:{label:{show:true}}
                                    },
                            data:{{ dns_value }}
                        }
                    ]
                };

                // Load data for echarts object 
                myChart.setOption(option);
            }
        );
    </script>
{% endautoescape %}
</body>
</html>
